.address {
    display: flex;
    width: 100%;
}

.address__address {
    border-radius: 64px;
    min-height: 649px;
    padding: 32px;
    background: var(--primary-black);
    color: var(--white);
    box-sizing: border-box;
}

.address__address>h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
}

.address__address>form {
    display: flex;
    flex-direction: column;
}

.address__list {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.address__list>li {
    align-items: center;
    display: flex;
    font-size: 20px;
}

.address__list>li {
    display: flex;
    gap: 17px;
    padding: 12px;
    border-radius: 40px;
    background-color: rgba(51, 51, 51, 1);
    width: fit-content;
}

.address__list>li>div {
    width: 40px;
    height: 40px;
    background-color: var(--primary-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.address__form>button {
    margin-top: 10px;
    padding: 26px 24px !important;
}

.address__card {
    border-radius: 64px;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 649px;
}


@media (max-width: 1280px) {
    .address__address>h3 {
        font-size: 32px;
    }
}

@media (max-width: 1209px) {
    .map {
        height: 696px;
    }
}


@media (max-width: 1023px) {
    .address {
        flex-direction: column-reverse;
    }

    .address__address {
        border-radius: 32px;
    }

    .address__card {
        border-radius: 32px;
    }

    .address__address>h3 {
        font-size: 30px;
    }

    .map {
        height: 465px
    }
}

@media (max-width: 425px) {
    .address__address {
        padding: 24px;
    }

    .address__address>h3 {
        font-size: 24px;
    }

    .address__list>li {
        font-size: 16px;
        gap: 9px;
    }
}

@media (max-width: 370px) {
    .address__list>li {
        font-size: 14px;

    }

    .address__list>li>div {
        width: 24px;
        height: 24px;
    }

    .address__list>li>div>svg {
        width: 10px;
    }
}

@media (max-width: 330px) {
    .address__address>h3 {
        font-size: 20px;
    }
}