.give__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.give-item {
    display: flex;
}

.give__container>.give-item:nth-child(3) {
    flex-direction: row-reverse;
}

.give__container>.give-item:last-child {
    flex-direction: row-reverse;
}

.give-item>img {
    border-radius: 40px;
    width: 50%;
}

.give-item>div {
    border-radius: 40px;
    background-color: rgba(245, 245, 245, 1);
    padding: 24px 36px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 50%;
}

.give-item>div>div {
    font-weight: 600;
    font-size: 54px;
}

.give-item>div>span {
    font-weight: 400;
    font-size: 24px;
    opacity: 0.8;
}

@media (max-width: 1280px) {
    .give-item>div>div {
        font-size: 50px;
    }

    .give-item>div>span {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .give-item>div>div {
        font-size: 38px;
    }

    .give-item>div>span {
        font-size: 15px;
        border-radius: 32px;
    }

    .give-item>div {
        padding: 16px 26px 16px 16px;
    }

    .give-item>img {
        border-radius: 32px;
    }
}

@media (max-width: 768px) {
    .give__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 7px;
    }

    .give-item>div>div {
        font-size: 42px;
    }

    .give-item>div>span {
        font-size: 20px;
        border-radius: 32px;
    }



    .give-item>div {
        padding: 24px 51px 24px 24px;
    }

    .give__container>.give-item:nth-child(2) {
        flex-direction: row-reverse;
    }

    .give__container>.give-item:nth-child(3) {
        flex-direction: row;
    }

    .give__container>.give-item:last-child {
        flex-direction: row-reverse;
    }
}

@media (max-width: 600px) {
    .give-item>div>span {
        font-size: 16px;
    }

    .give-item>div {
        font-size: 48px;
        padding: 16px 26px 16px 16px;
        width: 52.4%;
    }

    .give-item>img {
        width: 47.6%;
    }
}

@media (max-width: 543px) {
    .custom-width {
        width: 374px;
    }
}

@media (max-width: 425px) {
    .give-item>div>div {
        font-size: 32px;
    }

    .give-item>div>span {
        font-size: 14px;
    }
}

@media (max-width: 379px) {
    .custom-width {
        width: 250px;
    }
}

@media (max-width: 360px) {
    .give-item>div>div {
        font-size: 28px;
    }

    .give-item>div>span {
        font-size: 13px;
    }
}