.pc__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.pc__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--white);
    gap: 20px;
    align-items: stretch
}

.pc__container>div {
    border-radius: 64px;
}

.pc__container>.pc__first {
    background-color: var(--primary-black);
    width: 66%;
    padding: 44px 44px 48px 48px;
    box-sizing: border-box;

}

.pc__first {
    position: relative;
}

.pc__container>.pc__first>h3 {
    line-height: 100%;
    font-size: 64px;
    font-weight: 600;
    z-index: 1;
}

.pc__container>.pc__last {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
}

.pc__last>img {
    border-radius: 64px;
    width: 100%;
}

.pc__container-last {
    flex-direction: row-reverse;
}


.pc__list {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    margin-top: 50px;
}


.custom_img {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 64px;
}

.pc__list-width {
    max-width: 430px;

}

.pc-mobile {
    display: none;
}



@media (max-width: 1280px) {
    .pc__container>.pc__first>h3 {
        font-size: 58px;
    }
}


@media (max-width: 1125px) {
    .pc__container>.pc__first>h3 {
        font-size: 50px;
    }

}

@media (max-width: 1024px) {
    .custom_img {
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 64px;
        width: 40%;
    }

    .pc__container>.pc__last {
        width: 33%;
    }

    .pc__content {
        gap: 20px;
    }
}


@media (max-width: 1000px) {
    .pc__container>.pc__first>h3 {
        font-size: 36px;
    }
}

@media (max-width: 895px) {
    .pc__container>.pc__last {
        width: 37%;
    }
}


@media (max-width: 768px) {
    .pc__content {
        gap: 10px;
    }

    .pc__container {
        flex-direction: column;
        gap: 10px;
    }

    .pc__container>div {
        border-radius: 32px;
    }

    .pc__container>.pc__first {
        padding: 24px;
        width: 100%;
    }

    .pc__container>.pc__last {
        width: 100%;
    }

    .pc__last>img {
        border-radius: 32px;
        width: 100%;
    }

    .pc-desktop {
        display: none;
    }

    .pc-mobile {
        display: block;
    }

    .pc__list {
        flex-direction: column;
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    .pc__container>.pc__first>h3 {
        font-size: 32px;
    }

    .max-width-cont>.link-desc {
        width: auto;
        font-size: 14px !important;
    }
}