@import "./header.css";
@import "./hero.css";
@import "./uniq.css";
@import "./give.css";
@import "./diving.css";
@import "./footer.css";
@import "./swiper-bundle.min.css";
@import "./normalize.css";
@import "../vendor/fonts.css";


:root {
  --primary-black: rgba(35, 35, 35, 1);
  --primary-blue: rgba(48, 139, 253, 1);
  --hover-blue: rgba(35, 118, 221, 1);
  --disabled: rgba(213, 213, 213, 1);
  --white: rgba(255, 255, 255, 1);
  /*
  --white-01: rgba(255, 255, 255, 0.1);*/
  --primary-gray-light: rgba(249, 249, 249);
  /*--primary-green: rgba(58, 194, 112, 1)*/
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  background: var(--white);
  box-sizing: border-box;
  position: relative;
  height: 100%;
  font-family: "Inter";
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


li {
  list-style: none
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1312px;
  padding: 0 15px;
}

button {
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}


.button {
  font-weight: 500;
  font-size: 24px;
  color: var(--white);
  border-radius: 40px;
  padding: 18px 24px;
}

.btn-blue {
  background-color: var(--primary-blue)
}


.btn-blue:hover {
  background-color: var(--hover-blue);
}

.btn-blue:disabled {
  background-color: var(--disabled);
}



.label {
  border-radius: 40px;
  padding: 16px 32px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 32px;
  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.label>span>br {
  display: none;
}

.label-color-black {
  background: var(--primary-gray);
  color: var(--white);
}

.label-color-white {
  background: var(--primary-gray-light);
  color: var(--primary-black);
}

.label-dot {
  width: 10px;
  height: 10px;
  background-color: var(--primary-blue);
  border-radius: 50%;
}


.p24 {
  font-size: 24px;
  font-weight: 400;
}


.section-top {
  margin-top: 118px;
}

.container-top {
  margin-top: 64px;
}

/*
.section-wrap {
  width: 100%;
  border-radius: 40px;
  padding: 40px;
  font-family: "Inter";
  color: var(--white);
  text-align: left;
  position: relative;
  background-color: var(--primary-black)
}
*/
.logo {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  font-family: "Inter";
}

.link-desc {
  padding: 16px 24px 16px 24px;
  box-sizing: border-box;
  border: 1px solid var(--white);
  border-radius: 30px;
  font-size: 24px;
  z-index: 1;
}

@media (max-width: 1280px) {
  .link-desc {
    padding: 10px;
    border-radius: 30px;
    font-size: 20px !important;
  }
}

@media (max-width: 1024px) {
  .p24 {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .link-desc {
    padding: 6px 6px 6px 6px;
    border-radius: 30px;
    font-size: 16px !important;
  }
}


@media (max-width: 768px) {
  .label {
    padding: 12px 32px;
    font-size: 20px;
  }

  .label>span>span {
    display: none;
  }

  .p24 {
    font-size: 20px;
  }

  .section-top {
    margin-top: 67px;
  }

  .container-top {
    margin-top: 25px;
  }

  .link-desc {
    padding: 12px 11px;
  }
}

@media (max-width: 550px) {
  .p24 {
    font-size: 16px;
  }


  .logo {
    font-size: 26px;
  }

  .button {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .p24 {
    font-size: 14px;
  }

  .label {
    padding: 8px 16px;
    font-size: 14px;
  }

  .button {
    font-size: 16px;
    padding: 16px 24px;
  }

  .label-dot {
    width: 6px;
    height: 6px;
  }

  .label>span>br {
    display: block;
  }

}