.technology.container-top {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    position: relative;
}

.technology-slider {
    width: 100%;
}

.technology-slider .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 40px;
    background: var(--primary-gray-light);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 120px;
    flex: 0 0 auto;
}

.technology-slider img {
    height: 60px;
    width: auto;
    object-fit: contain;
    transition: all 0.3s ease;
}

.technology-slider img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.technology-slider .swiper-wrapper {
    transition-timing-function: linear !important;
}


@media (max-width: 768px) {
    .technology-slider .swiper-slide {
        width: 161px;
        height: 90px;
    }
}

@media (max-width: 537px) {
    .custom-use-width {
        width: 345px;
    }
}


@media (max-width: 373px) {
    .custom-use-width {
        width: 246px;
    }
}