.thanks {
    width: 100%;
    margin-top: 60px;
    justify-content: space-between;
}

.thanks__content {
    color: var(--primary-black);
    background: var(--primary-gray-light) !important;
    min-height: 534px !important;
    display: flex;
    flex-direction: column;
    max-width: 49%;
}

.thanks__map {
    width: 49% !important;
}

.thanks__name {
    font-size: 60px;
    font-weight: 600;
}

.thanks__manager {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin: 32px 0 5px 0;
}

.thanks__content>button {
    margin-top: auto;
}


.thanks__list>li {
    background: rgba(232, 232, 232, 1) !important;
}

.thanks-top {
    margin-top: 92px;
}

@media (max-width: 1280px) {
    .thanks__name {
        font-size: 50px;
    }
}


@media (max-width: 1023px) {
    .thanks {
        width: 100%;
        justify-content: start;
        flex-direction: column;
        min-height: 436px !important;
    }

    .thanks__content {
        max-width: 100%;
    }

    .thanks__map {
        width: 100% !important;
        height: 440px !important;
    }
}

@media (max-width: 768px) {
    .thanks {
        margin-top: 15px;
        gap: 10px;
    }

    .thanks__name {
        font-size: 45px;
    }

    .thanks-top {
        margin-top: 60px;
    }

    .thanks__content {
        min-height: 438px !important;
    }
}

@media (max-width: 500px) {
    .thanks__name {
        font-size: 36px;
    }

    .thanks__manager {
        font-size: 16px;
        margin: 10px 0 -10px 0;
    }

    .thanks__map {
        height: 274px !important;
    }
}

@media (max-width: 425px) {
    .thanks__name {
        font-size: 30px;
    }
}