.uniq__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}


.uniq__container>div {
    border-radius: 64px;
    color: var(--white);
}

.uniq__first {
    background: rgba(35, 35, 35, 1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 64px 48px 48px;
}

.uniq__first>img {
    position: absolute;
    top: 20%;
    right: 0;
}

.uniq__first>h4 {
    font-size: 64px;
    font-weight: 600;
    line-height: 110%;
}

.uniq__first>p {
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
}