@import "./header.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0 auto;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}


:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --dark-color: #2c3e50;
  --light-color: #ecf0f1;
}